@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: aliceblue;
}

p, h1, h2, h3, h4, h5, div, li, Link {
  background-color: transparent;
}

li {
  list-style: none;
}